.wrapper {
  min-height: calc(100vh - 94px);
    display: flex;
    justify-content: center;
    align-items: center;
   // min-height: 100vh;
    background: #f8fafc;
  }
  
  .card {
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 12px rgba(0, 0, 0, 0.1);
    padding: 2rem 2.5rem;
    width: 380px;
    text-align: left;
  
    h1 {
      font-size: 1.5rem;
      margin-bottom: 0.25rem;
    }
  
    p {
      color: #555;
      font-size: 0.9rem;
      margin-bottom: 1.5rem;
    }
  }
  
  .tabContainer {
    display: flex;
    margin-bottom: 1.5rem;
    background: #f0f2f5;
    border-radius: 6px;
  }
  
  .tab {
    flex: 1;
    padding: 0.6rem;
    border: none;
    background: transparent;
    font-weight: 600;
    color: #555;
    cursor: pointer;
    border-radius: 6px;
    transition: all 0.2s ease;
  
    &.active {
      background: #fff;
      color: #000;
      box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    }
  }
  
  .formGroup {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
  
    label {
      font-size: 0.9rem;
      margin-bottom: 0.4rem;
    }
  
    input {
      padding: 0.8rem;
      border: 1px solid #ccc;
      border-radius: 6px;
      font-size: 0.95rem;
      transition: border-color 0.2s ease;
  
      &:focus {
        border-color: #0070f3;
        outline: none;
      }
    }
  }
  

  .loadingOverlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.8);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 12px;
    z-index: 10;
  }
  
  .spinner {
    border: 4px solid #f97316;
    border-top: 4px solid #ea580c; 
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: spin 1s linear infinite;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  

  .submitBtn {
    width: 100%;
    background:#f97316;
    color: white;
    font-weight: 600;
    border: none;
    padding: 0.8rem;
    border-radius: 6px;
    cursor: pointer;
    margin-top: 0.5rem;
    transition: background 0.2s ease;
  
    &:hover {
      background: #ea580c;
    }
  }
  
  .message {
    margin-top: 1rem;
    text-align: center;
    color: red;
    font-size: 0.9rem;
  }
  