.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background:  white;
    color:#111;
    padding: 1rem 2rem;
  }
  
  .left a {
    font-size: 1.5rem;
    color: #111;
    text-decoration: none;
    font-weight: bold;
  }
  
  .right {
    display: flex;
    align-items: center;
    gap: 1rem;
  }
  
  .loginButton, .logout {
    background:black;
    color:  white;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 6px;
    cursor: pointer;
    text-decoration: none;
    transition: 0.2s;
  }
  
  .loginButton:hover, .logout:hover {
    background: #413939;
  }
  

