.wrapper {
  min-height: calc(100vh - 94px);
    //background: #f8fafc; 
    display: flex;
  justify-content: center;
  align-items: center;
  background: #f8fafc;
  overflow: hidden;
  }
  
  .main {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3rem 1rem;
  }
  
  .card {
    background: #fff;
    padding: 3rem 2.5rem;
    border-radius: 12px;
    box-shadow: 0 2px 12px rgba(0, 0, 0, 0.1);
    text-align: center;
    max-width: 500px;
    width: 90%;
   
  
    h1 {
      font-size: 2rem;
      margin-bottom: 1rem;
      color: #0a0a23;
    }
  
    p {
      font-size: 1rem;
      color: #555;
      margin-bottom: 2rem;
    }
  }
  
  .btn {
    display: inline-block;
    background: #f97316;
    color: white;
    font-weight: 600;
    padding: 0.8rem 1.8rem;
    border-radius: 6px;
    text-decoration: none;
    transition: background 0.2s ease;
  
    &:hover {
      background: #ea580c;
      //transform: translateY(-1px);
    }
    &:disabled {
      background-color: #fbbf24; // lighter muted orange for disabled
      cursor: not-allowed;
    }
  
    &:focus {
      outline: 2px solid #ffffff;
      outline-offset: 2px;
    }
  }
  
  